# Data Preparation (NSW Estuary Temp data)

**Data Source:**
+ https://datasets.seed.nsw.gov.au/dataset/nsw-estuary-temperature-ph-and-salinity-data

For our analysis we require only temperature data only, so from the given data source the temperature data is extracted. The data preparation was done in
+ **Part1:** In tableau where all the unnecessary fields were removed, and the columns were renamed appropriately.
+ **Part2:** In python, using Pandas, the unique values were identifies and the data was grouped by the estuaries name, type and the year of data recording. 

*(As the data was recorded on a quartely basis so the mean temp was calculated and saved in **estuaries_agg** as final data.)*

In [42]:
import os

In [43]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt #plotting
import seaborn as sns #for beatiful visualization

In [44]:
os.getcwd()

'C:\\Users\\61423\\OneDrive\\Desktop\\SEM 3\\DVN\\AT3\\Python'

In [45]:
estuaries= pd.read_csv(r'C:\\Users\\61423\\OneDrive\\Desktop\\SEM 3\\DVN\\AT3\\nsw stats\\water quality\\estuary_temp.csv')
#estuaries.head()

In [46]:
#estuaries.info()

In [47]:
# To identify unique vlaues in estuaries columns
unique_counts = pd.DataFrame.from_records([(col, estuaries[col].nunique()) for col in estuaries.columns],
                          columns=['Column_Name', 'Num_Unique']).sort_values(by=['Num_Unique'])
unique_counts

# https://pbpython.com/pandas_dtypes_cat.html

         Column_Name  Num_Unique
4  Number of Records           1
1       Estuary_type           5
5               Year          12
3          Longitude         116
2          Latitude          156
0       Estuary_name         165
6            Temp °C        1338

In [48]:
Key= ["Estuary_name","Estuary_type", "Year"]
estuaries['Year'] = pd.to_datetime(estuaries['Year'])

In [49]:
estuaries_agg= estuaries.groupby(Key).mean()
estuaries_agg

                                           Latitude   Longitude  \
Estuary_name      Estuary_type Year
Arrawarra Creek   Lagoon       2012-01-01      30.06     153.20
                               2015-01-01      30.06     153.20
                               2018-01-01      30.06     153.20
Avoca Lake        BDL          2007-01-01      33.46     151.44
                               2010-01-01      33.46     151.44
...                                              ...        ...
Wooli Wooli River River        2009-01-01      29.89     153.27
                               2012-01-01      29.89     153.27
                               2015-01-01      29.89     153.27
                               2018-01-01      29.89     153.27
Wowly Gully       Lagoon       2011-01-01      35.00     150.73

                                           Number of Records    Temp °C
Estuary_name      Estuary_type Year
Arrawarra Creek   Lagoon       2012-01-01                  1  22.258750
                               2015-01-01                  1  26.125833
                               2018-01-01                  1  28.720000
Avoca Lake        BDL          2007-01-01                  1  24.960455
                               2010-01-01                  1  25.388333
...                                                      ...        ...
Wooli Wooli River River        2009-01-01                  1  26.148750
                               2012-01-01                  1  21.698750
                               2015-01-01                  1  26.556667
                               2018-01-01                  1  27.278750
Wowly Gully       Lagoon       2011-01-01                  1  22.892500

[524 rows x 4 columns]

In [50]:
import matplotlib.pyplot as plt

In [54]:
# Save the data into a csv
estuaries_agg.to_csv("estuaries_final.csv")